body{
    font-family: Roboto, Oxygen;
    font-weight: 300;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.logo{
    height: 50px;    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 350px;
    background-color: #1F2937;
    padding: 10px;
    font-weight: 400;

}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
}

ul a {
    text-decoration: none;
    color: white;
}


.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    

}

#placeholder{
    height: 250px;
}

.textandbotton{
    display: flex;
    flex-direction: column;
}

.heromaintext{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
    width: 350px;
}

.herosecondarytext{
    color: #e5e7eb;
    font-size: 18px;
    width: 450px;
    font-weight: 400;
}

#button1{
    padding: 8px;
    width: 150px;
    background-color: #3882f6;
    color: white;
    font-weight: 800;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
    border-color: #3882f6;
}

.secondbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 100px;
    background-color: white;
    width: auto;
}

.secondboxdisplay{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 150px;
}

#herotext{
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    margin-top: 50px;
}

.ilustrations{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.ilustration1{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    gap: 15px;
    border: 5px;
    border-color: #3882f6;
    border-style: outset;
    width: 150px;
    height: 150px;

}

.ilustration2{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    border-radius: 10px;
    border: 5px;
    border-color: #3882f6;
    border-style: outset;
    width: 150px;
    height: 150px;
}

.ilustration3{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    border-radius: 10px;
    border: 5px;
    border-color: #3882f6;
    border-style: outset;
    width: 150px;
    height: 150px;
}

.ilustration4{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    border-radius: 10px;
    border: 5px;
    border-color: #3882f6;
    border-style: outset;
    width: 150px;
    height: 150px;
}

.thirdbox{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    text-align: left;
}

#quotetext{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-top: 150px;
    margin-right: 300px;
    margin-left: 250px;
}

#quoteauthor{
    color: #1F2937;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: 300px;
}

.fourbox{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

.calltoactiontexts{
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
}

.calltoactionfirstext{
    font-weight: 800;
    font-size: 20px;
}
.calltoactionsecondtext{
    font-weight: 400;
    font-size: 18px;
}

.calltoactionbox{
    display: flex;
    background-color: #3882f6;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 150px;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 10px;
    align-items: center;
}

#signupbutton {
    border-radius: 10px;
    border-color: white;
    background-color: #3882f6;
    color: white;
    font-weight: 800;
    font-size: 16px;
    width: 120px;
    height: 30px;
}

.fivebox{
    display: flex;
    color: white;
    font-weight: 400;
    font-size: 16px;
    justify-content: center;    
    margin-top: 30px;
    margin-bottom: 30px;
}

